<% @users.each do |user| %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="">
                <% if user.avatar.present? %>
                  <img class="media-object img-circle" width="100" height="100" src="<%= image_path user.avatar.url %>" alt="<%= user.name %>">
                <% else %>
                  <img class="media-object img-circle" width="100" height="100" src="<%= image_path('blank-user.jpg') %>" alt="<%= user.name %>">
                <% end %>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to user.name, user_path(user) %></h4>
              <h5><%= user.short_bio %></h5>
              <small><%= user.email %></small> <br/>
              <% if user.products.present? %>
                <small>Your products <%= user.products.count %></small>
              <% else %>
                <small><strong><%= user.name %></strong> don't have any product right now.</small>
              <% end %>
              <!-- <strong>Email:</strong> <%= user.email %> <br/> -->
              <!-- <strong>Total Product:</strong> <%#= user.products.count %> <br/> -->
              <!-- <strong>Bio:</strong> <%#= %> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
