<div class="jumbotron text-center">
  <h1>Welcome to Sunday Market Management</h1>
  <p>Kombucha letterpress leggings mlkshk keytar pop-up poke deep v normcore. </p>
  <p>
    <% if user_signed_in? %>
      <%= link_to "All Products", products_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-lg" %>
    <% else %>
      <%= link_to "All Products", products_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Join as Seller", new_user_registration_path, class: "btn btn-success btn-lg" %>
    <% end %>
  </p>
</div>

<div class="container">
  <h2>Random Product</h2>
  <hr>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <img class="img-responsive" src="<%= image_path product.image.url %><%#= cl_image_path(product.try(:image), :secure => true) %>" alt="<%= product.try(:name) %>">
          <div class="caption">
            <h3><%= product.try(:name) %></h3>
            <p><%= simple_format(truncate(product.try(:description), length: 250, omission: '... ') { link_to "Continue Read", product_path(product) }) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
