<div class="row">
  <div class="col-md-8">
    <h3>Products</h3>
    <% @products.each do |product| %>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" width="200" height="200" src="<%= image_path product.image.url %>" alt="<%= product.name %>">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= product.name %></h4>
          <p>
            Created at <%= product.created_at.strftime("%A, %b %d") %> by <strong><%= product.user.name %></strong>
            <br>
            <small>Category: <strong><%= product.category.name %></strong></small>
          </p>
          <%= simple_format(product.description) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <h3>Categories</h3>
    <div class="list-group">
      <% Category.all.each do |category| %>
        <%= link_to category.name, products_path(category: category.name), class: "list-group-item" %>
      <% end %>
    </div>
  </div>
</div>
